{% load static %}
<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'styleLogin.css' %}">
</head>
<body>
    <div class="form-container">
        <h1>Login</h1>
        {% if form.non_field_errors %}
            <div class="error-box">
                {% for error in form.non_field_errors %}
                    <p class="error">{{ error }}</p>
                {% endfor %}
            </div>
        {% endif %}
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="email">E-mail:</label>
                <input type="text" id="email" name="email" placeholder="Digite seu e-mail" required>
            </div>
            <div class="form-group">
                <label for="password">Senha:</label>
                <input type="password" id="password" name="password" placeholder="Digite sua senha" required>
            </div>
            <div class="form-group">
                <button type="submit" class="btn">Entrar</button>
            </div>
        </form>
        <p class="form-footer">
            Esqueceu sua senha? <a href="{% url 'password_reset' %}">Recupere aqui</a>
        </p>
        <p class="form-footer">Ainda não tem uma conta? <a href="{% url 'register' %}">Cadastre-se aqui</a></p>
    </div>
</body>
</html>
